* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
    background: linear-gradient(to right bottom, #6162d6, #7a7aea);
}


/* start: global style rules */

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}


/* end: global style rules */


/* start: header styles */

header {
    padding: 20px 0;
    position: relative;
    margin-left: 0;
}

header .flex {
    margin-left: 0;
}

.logo {
    display: flex;
    margin-left: 0;
}

.logo h3 {
    color: #d6dee7;
    font-weight: 600;
    margin-left: 0;
}


/* end: header styles */


/* start: main styles */

.marketing-text {
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 60px 10px;
}

.marketing-text h1 {
    color: #d6dee7;
    font-weight: 600;
}

.marketing-text h3 {
    color: #d6dee7;
    font-weight: 300;
    margin-left: 20px;
}

.marketing-text .box {
    color: #d6dee7;
    margin-top: 20px;
    font-weight: 300;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #eee;
    color: #131313;
    padding: 10px 20px;
    width: 50%;
}

.marketing-text .box h4 {
    color: #131313;
    font-weight: 500;
    padding: 0;
}

.marketing-text .box p {
    color: #131313;
    font-weight: 200;
    padding: 0;
    font-size: small;
}

.sign-up {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #eee;
    box-shadow: #131313;
    z-index: 2;
    opacity: 0.8;
    backdrop-filter: blur(2rem);
    box-shadow: 10px 10px 20px rgba(122, 122, 122, 1);
}

.sign-up h1 {
    text-align: center;
    font-weight: 500;
}

.email-box {
    margin-left: 20px;
}

.email-box h3 {
    font-weight: 400;
}

.email-box input {
    border-radius: 20px;
    width: 80%;
    padding: 10px 10px;
    border-width: 0.8px;
}

.password-box {
    margin-left: 20px;
}

.password-box h3 {
    font-weight: 400;
}

.password-box input {
    border-radius: 20px;
    width: 80%;
    padding: 10px 10px;
    border-width: 0.8px;
}

.submit-box {
    background-color: #6162d6;
    border: 2px solid #6162d6;
    color: #eee;
    font-size: 0.85em;
    font-weight: 600;
    /* width: 30%; */
    text-align: center;
    -webkit-box-sizing: content-box;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 40px;
    margin: 1.5rem 2rem;
}

.submit-box:hover {
    background-color: white;
    color: #6162d6;
}


/* end: main styles */